#ajax{
  background-color: #ef9a9a;
}

#movie_detail{
  color: #ffebee;
  background-color: #ef9a9a;
}


#branding{
background:url(img/VideoIcon.png) no-repeat;
width:360px;
height:360px;
text-indent:-999px;
font-size:0px;
margin:-10px auto 0 auto;
border-bottom:1px solid rgba(65, 38, 37, 0.6);
}



